/* Font /font/mono/JetBrainsMono-VariableFont_wght.ttf */

@font-face {
  font-family: "JetBrains Mono";
  src: url("/font/mono/JetBrainsMono-VariableFont_wght.ttf") format("truetype");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Nunito Sans";
  src: url("/font/sans/NunitoSans-VariableFont_YTLC,opsz,wdth,wght.ttf")
    format("truetype");
  font-weight: 200 900;
  font-style: normal;
  font-display: swap;
}

@theme {
  --default-mono-font-family: "JetBrains Mono", monospace;
}
