---
import Logo from "../components/Logo.astro";
import Layout from "../layouts/Layout.astro";
import Title from "../components/Title.astro";
---

<Layout>
    <Logo/>

    <div class="text-center mx-auto">
        <Title content="Jurado"/>
    
        <p class="font-secondary font-thin text-lg md:text-xl mx-auto text-center mt-4">
        El jurado se revelará el 22 de septiembre.
        </p>
    </div>

    <div class="my-10"></div>
</Layout>