---
import Layout from "../layouts/Layout.astro";
import Title from "../components/Title.astro";
import Card from "../components/Card.astro";
import Logo from "../components/Logo.astro";
---

<Layout title="MTO Hackathon 2025 - Proyectos 2025">
  <Logo />
  <div class="flex flex-col w-full px-4 font-secondary">
    <h2 class="text-2xl font-bold mx-auto">Proyectos</h2>
    <ul class="list-disc list-inside flex flex-col gap-6 mt-6 mb-20">
      <li class="flex flex-col">
        <div class="flex items-center gap-2">
          <div
            class="w-4 h-4 bg-gradient-to-br from-primary via-tertiary to-secondary"
          >
          </div>
          Stack Overflows
        </div>
        <div class="border p-2">
          <p>
            <b>Proyecto: </b>
            <span>Codex</span>
            <br />
            <b>Problemática: </b>
            <br />
            <span>
              En la universidad, la mayoría de los proyectos de los estudiantes
              terminan guardados en una carpeta después de ser calificados.
              Muchas buenas ideas se quedan ahí, sin llegar a inspirar ni ayudar
              a otros.
            </span>
            <br />
            <b>Solución:</b>
            <span>
              Una plataforma web que conecta a estudiantes, inversionistas y
              empresas, dando visibilidad y valor a proyectos innovadores para
              que no queden archivados, sino que inspiren, se moneticen y se
              transformen en soluciones reales de impacto.
            </span>
            <br />
            <b>Links:</b>
            <ul class="list-disc list-inside ml-4">
              <li>
                <a
                  href="https://github.com/joselinbances3012-collab/wazaaaxd"
                  class="text-secondary underline">GitHub</a
                >
              </li>
            </ul>
          </p>
        </div>
      </li>
      <li class="flex flex-col">
        <div class="flex items-center gap-2">
          <div
            class="w-4 h-4 bg-gradient-to-br from-primary via-tertiary to-secondary"
          >
          </div>
          Nova team
        </div>
        <div class="border p-2">
          <p>
            <b>Proyecto: </b>
            <span>UTP+connect</span>
            <br />
            <b>Problemática: </b>
            <br />
            <span>
              En la universidad, la mayoría de los proyectos de los estudiantes
              terminan guardados en una carpeta después de ser calificados.
              Muchas buenas ideas se quedan ahí, sin llegar a inspirar ni ayudar
              a otros.
            </span>
            <br />
            <b>Objetivo:</b>
            <span
              >Desarrollar una plataforma académica que solucione la
              inexistencia de un repositorio centralizado, habilite un espacio
              para proponer y compartir ideas innovadoras, y facilite la
              conformación de equipos multidisciplinarios de calidad.</span
            >
            <br />
            <b>Links:</b>
            <ul class="list-disc list-inside ml-4">
              <li>
                <a
                  href="https://github.com/danielsanchez18/utp_connect_backend"
                  class="text-secondary underline">Backend</a
                >
              </li>
              <li>
                <a
                  href="https://github.com/danielsanchez18/utp_connect_frontend"
                  class="text-secondary underline">Frontend</a
                >
              </li>
              <li>
                <a
                  href="https://www.figma.com/slides/bxWYU0LWvr4kL0CtcvA9Tx/NOVA?node-id=1-42&t=BVVL3AgdWANK4Niz-1"
                  class="text-secondary underline">Presentación</a
                >
              </li>
              <li>
                <a
                  href="https://utp-connect.netlify.app/"
                  class="text-secondary underline"
                >
                  Aplicación</a
                >
              </li>
            </ul>
          </p>
        </div>
      </li>
      <li class="flex flex-col">
        <div class="flex items-center gap-2">
          <div
            class="w-4 h-4 bg-gradient-to-br from-primary via-tertiary to-secondary"
          >
          </div>
          Try/Catch Team
        </div>
        <div class="border p-2">
          <p>
            <b>Proyecto: </b>
            <span>Uni Project</span>
            <br />
            <b>Problemática: </b>
            <br />
            <span>
              En la universidad, la mayoría de los proyectos de los estudiantes
              terminan guardados en una carpeta después de ser calificados.
              Muchas buenas ideas se quedan ahí, sin llegar a inspirar ni ayudar
              a otros.
            </span>
            <br />
            <b>Links:</b>
            <ul class="list-disc list-inside ml-4">
              <li>
                <a
                  href="https://uniprojectt.netlify.app/"
                  class="text-secondary underline">Aplicación</a
                >
              </li>
            </ul>
          </p>
        </div>
      </li>
      <li class="flex flex-col">
        <div class="flex items-center gap-2">
          <div
            class="w-4 h-4 bg-gradient-to-br from-primary via-tertiary to-secondary"
          >
          </div>
          CodeHive (Ganadores 🌟)
        </div>
        <div class="border p-2">
          <p>
            <b>Proyecto: </b>
            <span>Eureka</span>
            <br />
            <b>Problemática: </b>
            <br />
            <span>
              En la universidad, la motivación de los estudiantes suele ser un
              recurso invisible y frágil. Las ideas nacen con fuerza, pero se
              diluyen en el día a día académico. Sin un sistema que impulse y dé
              continuidad a esas chispas creativas, muchos proyectos mueren
              antes de comenzar.
            </span>
            <br />
            <b>Links:</b>
            <ul class="list-disc list-inside ml-4">
              <li>
                <a
                  href="https://eureka-app-pi.vercel.app/"
                  class="text-secondary underline">Aplicación</a
                >
              </li>
              <li>
                <a
                  href="https://github.com/ronaldsalazarvasquez/Eureka_app"
                  class="text-secondary underline"
                >
                  GitHub</a
                >
              </li>
            </ul>
          </p>
        </div>
      </li>
    </ul>
  </div>
</Layout>
