<div class="flex justify-center align-center md:max-w-2xl my-5 mx-auto">
    <div>
        <img 
        src="http://cdn.mtocommunity.com/hackathon-2025-logo.webp" 
        alt="Hackathon 2025 Logo" 
        class="object-contain relative z-10"
        />
    </div>
</div>